$white: #ffffff;
$red-orange: #ffe2cd;
$gray: #e2e2e2;
$dark-gray: #2e2e2e;
$light-blue: #afcfff63;
$teal: #b3f2dbad;
$blue: #1f4f99;
$dark-blue: #2f364f;
$light-yellow: #f9e27a80;
$purple: #d7d0ffb3;
$medium-yellow: #f7cd47;
$dark-yellow: #f5c843;
$bright-grey: #f2f2f2;
$medium-grey: #616161;
$grey: #a3a3a3;
$frame-light: #f2f2f2;
$frame: #c6c6c6;
