@import "pages/scraper", "components/button", "components/tools",
  "components/tips", "components/getData", "components/scraperList", "components/popover",
  "pages/dashboard";

// development
h3,
h2,
p,
h1 {
  padding: 0;
  margin: 0;
}

//production
body {
  margin: 0;
}

#growise-crawler {
  width: 100%;
  height: 100%;
  background-color: $dark-blue;
  position: fixed;
  display: flex;
  justify-items: center;
  align-items: center;
  top: 0px;
  z-index: 9999;
}

#crawler {
  position: fixed;
  width: 1400px;
  height: 700px;
  top: 50%;
  overflow-y: scroll;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.filtered {
  background-color: rgba(0, 0, 0, 0.5);
  filter: alpha(opacity=50); /* ie 5-7 */
  -moz-opacity: 0.5; /* netscape */
  -khtml-opacity: 0.5; /* safari 1.x */
  opacity: 0.5;
  background-color: grey;
}
