@import "../variables/color";

button {
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  cursor: pointer;
  border: none;
}

nav button {
  display: flex;
  span {
    display: flex;
    align-items: center;
  }
  align-items: center;
  gap: 4px;
  padding: 8px;
}

button:hover,
button:focus {
  border-color: rgba(0, 0, 0, 0.2);
}

button:hover {
  transform: translateY(-1px);
  box-shadow: rgba(0, 0, 0, 0.15) 0 4px 12px;
}

button:active {
  border-color: rgba(0, 0, 0, 0.15);
  opacity: 0.7;
  color: rgba(0, 0, 0, 0.8);
  transform: translateY(0);
}

.content-wrapper__title button {
  color: white;
}

@mixin _size($size) {
  @if $size == sm {
    width: 78px;
    height: 32px;
  } @else if $size == md {
    width: 170px;
    height: 32px;
  } @else if $size == lg {
    width: 180px;
    height: 45px;
    font-size: 14px;
  } @else if $size == nav {
    width: 110px;
    height: 34px;
  }
}

@mixin base($size, $color) {
  @include _size($size);
  background: $color;
  outline: 2px;
  border-radius: 20px;
}

@mixin outline($size, $color) {
  @include _size($size);
  background: none;
  border: 1px solid $color;
  border-radius: 20px;
}

@mixin transparent($size, $color) {
  @include _size($size);
  background: none;
  background-color: none;
  border-radius: 17px;
  &:hover {
    background-color: $color;
    box-shadow: none;
  }
  &:active {
    opacity: 0.5;
  }
}

.btn {
  &-sm {
    &__base-ly {
      @include base(sm, $light-yellow);
    }
    &__base-dy {
      @include base(sm, $dark-yellow);
    }
    &__base-blue {
      @include base(sm, $blue);
    }

    &__outline-white {
      @include outline(sm, $white);
    }
  }
  &-md {
    &__base-ly {
      @include base(md, $light-yellow);
    }
    &__base-dy {
      @include base(md, $dark-yellow);
    }
    &__base-blue {
      @include base(md, $blue);
    }

    &__outline-white {
      @include outline(md, $white);
    }
  }
  &-lg {
    &__base-ly {
      @include base(lg, $light-yellow);
    }
    &__base-dy {
      @include base(lg, $dark-yellow);
    }
    &__base-blue {
      @include base(lg, $blue);
    }

    &__outline-white {
      @include outline(lg, $white);
    }
  }
  &-nav {
    &__transparent-lb {
      @include transparent(nav, $light-blue);
    }
    &__transparent-blue {
      @include transparent(nav, $blue);
    }
    &__transparent-orange {
      @include transparent(nav, $red-orange);
    }
    &__transparent-teal {
      @include transparent(nav, $teal);
    }
    &__transparent-green {
      @include transparent(nav, $red-orange);
    }
    &__transparent-purple {
      @include transparent(nav, $purple);
    }
  }
}
