@import "../variables/color";

.scraper-tools__tips {
  &-pagination,
  &-pagination-click {
    z-index: 10000;
    background: $white;
    border: 1px solid $blue;
    border-radius: 5px;
    position: absolute;
    bottom: 40px;
    left: -60px;
    width: 300px;
    padding: 32px 20px;
    align-items: center;
    gap: 4px;
    &--title {
      font-size: 20px;
      font-weight: bold;
      color: $blue;
      text-align: center;
    }
    &--body {
      color: $medium-grey;
    }
  }
  &-select {
    z-index: 10000;
    background: $white;
    border: 1px solid $blue;
    border-radius: 5px;
    position: relative;
    padding: 20px;
    &--title {
      font-size: 18px;
      font-weight: bold;
      color: $blue;
    }
    &--body {
      color: $medium-grey;
    }
  }
}
