@import "../variables/color";

//navbar section
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);

  &__service {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  &__profile {
    display: flex;
    gap: 20px;
  }
}

//title section
.title {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bright-grey;
}

//content section
.content-wrapper {
  padding: 10px 30px;
  &__title button {
    color: white;
  }
  &__filter {
    display: flex;
    justify-content: space-between;
    &-left,
    &-right {
      gap: 10px;
      display: flex;
      padding: 20px;
    }
  }
  &__crawler {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

//crawler card
.crawler-item {
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(226, 226, 226, 1);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
  }
  &__checkbox {
    flex: none;
  }
  &__col1,
  &__col2 {
    display: flex;
  }
  &__col1 {
    gap: 10px;
  }
  &__col2 {
    flex-direction: column;
    text-align: end;
  }
  &__actions {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    justify-content: flex-end;
  }
}
