@import "../variables/color";

//navbar section
.nav-username--wrapper {
  padding: 18px 9px 18px 22px;
}

.workspace-item {
  &--title {
    font-weight: 700;
    color: $medium-grey;
  }
}

.sidemenu--wrapper {
  & hr {
    margin: 0 0 8px;
  }
}
//title section
.title {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bright-grey;
}

//content section
.content-wrapper {
  padding: 5px 20px 18px 20px;
  &__title button {
    color: white;
  }
  &__filter {
    display: flex;
    justify-content: space-between;
    &-left,
    &-right {
      align-items: center;
      gap: 10px;
      display: flex;
      padding:20px 0 20px 20px;
    }
  }
  &__crawler {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

//crawler card
.crawler-item {
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(226, 226, 226, 1);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
  }
}

